* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Doc{
    width: 100%;
    height: auto;
    background-color: transparent;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.TitleDoc{
    color: #fff;
    font-weight: 700;
    padding-top: 30px;
}
.ListDoc{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 25px;
}
.nameDoc{
    font-size: 30px;
    font-weight: 700;

}