* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .container-header{
    background-color: black;
} */

.header-top{
    height: 40px;
    background-color: #035aa6;
    
}
.header-top p{
    text-align: center;
    color: #fff;
    line-height: 40px;
    font-size: 18px;
}
.header-nav {
    height: 90px !important;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.header-logo {
    height: 60px;
    width: 250px;
    margin-right: 50px;
}

.header-toggle {
    background-color: #fff !important;
}


.container-header{
    margin: 0 !important;
    display: flex;
}
.header-selection {
    font-size: 22px !important;
    margin: 0 16px;
}
.header-selection p{
    color: #4153cc;
}
.me-auto{
    display: flex;
    align-items: center;
}
.nav-icon{
    padding-left: 12px;
}

.header-button {
    margin-left: 50px;
}

.button-header {
    display: flex;
    margin-left: 70px;
}
@media (min-width: 1200px){
    .navbar-expand-xl{
        justify-content: space-evenly !important;
    }
}
.header-user{
    display: flex;
    width: 160px;
}

.header-user .header-user-name{
    margin-left: 4px;
}
.header-logout{
    margin-left: 20px;
    cursor: pointer;
}
.header-logout:hover{
    color: blue;
}
/* @media screen and (max-width: 1200px) {
    .
  } */
.login-button-link {
    padding: 6px !important;
    margin: 0 4px !important;
}

.login-button {
    border: 1px solid #000 !important;
    border-radius: 25px !important;
    color: rgba(0, 0, 0, .55) !important;
    padding: 6px 15px !important;
    text-decoration: none !important;
}

.login-button:hover {
    background-color: #000 !important;
    color: #fff !important;
}
.login-icon {
    margin-right: 4px !important;
}